@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Roboto", sans-serif;
}

.custom-gradient {
  background: linear-gradient(
    111deg,
    rgba(173, 11, 64, 0.88) 9.86%,
    #ff1917 63.95%
  );
  border-radius: 4px;
}
